/* Aplicar tipografía a toda la página */
body {
    font-family: "Source Code Pro", monospace; /* Tipografía estilizada */
    background-color: lightgrey;
    background-image: url("FI_Logo.png");
    background-size: 175px;
    background-repeat: no-repeat;
    background-position: top right;
    background-attachment: fixed;
}

/* Estilo de las tablas */
table {
    border: 0.5px solid #C5C5C5; 
    border-collapse: collapse; 
    width: 75%; 
    font-family: "Source Code Pro", monospace; /* Aplicar a las tablas */
}

th {
    color: #C5C5C5; 
    text-transform: uppercase; 
    text-align: left; 
    padding: 10px; 
    font-family: "Source Code Pro", monospace; /* Consistencia en títulos */
}

tr:nth-child(even) {
    background-color: #C5C5C5; /* Filas alternas */
}

/* Estilo de otros elementos */
h1, p, ul, li {
    font-family: "Source Code Pro", monospace; /* Aplicar tipografía general */
}